@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.infobox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(101 177 89);
  color: white;
  height: 100vh;
  gap: 70px;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .infobox {
    flex-direction: column-reverse;
  }
}
